:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-MODAL: #2e2f4266;
  --GREY: #2e2f42b2;
  --WHITE: #fff;
  --DAIRY: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
body {
  margin: 0;
  color: var(--SLATE);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--WHITE);
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */

.body-header {
  background-color: var(--WHITE);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
  margin-right: 76px;
}
.logo:hover {
  color: var(--OCEAN);
}
.logo-studio {
  color: var(--NAVY-BLUE);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.header-list {
  display: flex;
  gap: 40px;
}

.list-link {
  display: inline-block;
  font-weight: 500;
  color: var(--NAVY-BLUE);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:hover,
.list-link:focus {
  color: var(--OCEAN);
}

.current {
  color: var(--OCEAN);
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--OCEAN);
  border-radius: 2px;
}

.address {
  font-style: normal;
  display: flex;
  align-items: center;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-links {
  padding: 24px 0;
}
.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.contact:focus {
  color: var(--OCEAN);
}

/* HERO SECTION */

.hero-image {
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/office1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--WHITE);
  max-width: 496px;
}
.button-service {
  background-color: var(--IRIS);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-service:focus,
.button-service:hover {
  background-color: var(--OCEAN);
}

.header-margin {
  margin-bottom: 72px;
}
.header-second {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE);
}
.header-third {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
}
.descrip {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}

/* SECTION TWO */

.section-two {
  padding: 120px 0;
}
.section-two-list {
  display: flex;
  gap: 24px;
}
.goals-list {
  width: calc((100% - 72px) / 4);
}
.container-svg {
  border-radius: 4px;
  background: var(--CLOUD, #f4f4fd);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  margin-bottom: 8px;
}
.goals-header {
  margin-bottom: 8px;
}

/* SECTION THIRD */

.section-third {
  padding-bottom: 120px;
}
.section-third-list {
  display: flex;
  gap: 24px;
}
.section-third-element {
  width: calc((100% - 48px) / 3);
}

/*  SECTION FOURTH */

.section-fourth {
  background-color: var(--CLOUD);
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.member-description {
  padding: 32px 0px;
}
.member-name {
  text-align: center;
  margin-bottom: 8px;
}
.member-role {
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-element {
  width: 40px;
  height: 40px;
}
.member-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-social-link:hover,
.member-social-link:focus {
  background-color: var(--OCEAN, #404bbf);
}

/* SECTION FIVE */

.section-five {
  padding: 120px 0;
}
.company-list {
  display: flex;
  gap: 24px;
}
.company-element {
  height: 88px;
  width: 100%;
}
.company-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--LIGHT-SLATE, #8e8f99);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-link:hover,
.company-link:focus {
  color: var(--OCEAN, #404bbf);
  border-color: var(--OCEAN, #404bbf);
}
.icon-company {
  fill: currentColor;
}

/* FOOTER */

.footer-section {
  background-color: var(--NAVY-BLUE);
  padding: 100px 0;
}
.footer-div {
  display: flex;
  align-items: baseline;
}
.logo-container {
  margin-right: 120px;
}
.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS);
}
.footer-logo-studio {
  color: var(--CLOUD);
}
.footer-descrip {
  max-width: 264px;
  color: var(--CLOUD);
}
.p-head {
  color: var(--WHITE, #fff);
  margin-bottom: 16px;
  font-weight: 500;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.icon-svg {
  fill: var(--CLOUD, #f4f4fd);
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--GREEN, #31d0aa);
}

.social-container {
  margin-right: 80px;
}
.form-subscribe {
  display: flex;
  gap: 24px;
}

.sub-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--WHITE, #fff);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--WHITE);
}
.sub-input::placeholder {
  color: var(--WHITE, #fff);
}
.sub-input:focus {
  outline: none;
}
.sub-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--WHITE, #fff);
  background-color: var(--IRIS, #4d5ae5);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.sub-button:hover,
.sub-button:focus {
  background-color: var(--OCEAN);
}

.subscribe-icon {
  margin-left: 16px;
}

/* MODAL BOX */

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 408px;
  width: 90%;
  min-height: 584px;
  background-color: var(--DAIRY);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  border: none;
  background-color: var(--OCEAN);
}
.colorfill {
  fill: var(--NAVY-BLUE);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .colorfill,
.close-button:focus .colorfill {
  fill: var(--WHITE);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.feedback-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.form-container {
  margin-bottom: 8px;
}
.modal-box-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.inputs-container {
  position: relative;
}
.modal-box-inputs {
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-MODAL, rgba(46, 47, 66, 0.4));
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box-inputs:focus {
  border-color: var(--IRIS, #4d5ae5);
}

.modal-box-inputs:focus + .modal-box-icons {
  fill: #4d5ae5;
}

.modal-box-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--NAVY-BLUE);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-container {
  margin-bottom: 16px;
}
.comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-MODAL, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:hover,
.comment:focus {
  border-color: var(--IRIS, #4d5ae5);
}
.comment::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.checkbox-container {
  margin-bottom: 24px;
}

.hidden {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: none;
}
.checkbox-policy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox-input:checked + .label-privacy > .checkbox-policy-span {
  background-color: var(--OCEAN);
  border: none;
  fill: var(--CLOUD);
}

.label-privacy {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
}
.privacy-policy {
  color: var(--IRIS, #4d5ae5);
}

.button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  cursor: pointer;
  background-color: var(--IRIS);
  border: none;
  border-radius: 4px;

  padding: 16px 32px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-send:hover,
.button-send:focus {
  background-color: var(--OCEAN);
}

/* Portfolio */
.section-container {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--IRIS);
  background-color: var(--CLOUD);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.image-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.image-position {
  width: calc((100% - 48px) / 3);
}
.shadow-list {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow-list:hover,
.shadow-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.img-text {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--IRIS, #4d5ae5);
  color: var(--CLOUD, #f4f4fd);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow-list:hover .img-text,
.shadow-list:focus .img-text {
  transform: translateY(0);
}
.image-description {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER);
  border-top: none;
  background-color: var(--WHITE);
}

.header-second-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 8px;
}
.js-close-men {
  display: none;
}
.toggle-container {
  display: none;
}
.menu-toggle {
  display: none;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 768px;
  }
  .menu-toggle {
    display: none;
  }

  /* HEADER */

  .logo {
    margin-right: 120px;
  }

  .header-container {
    justify-content: space-between;
  }
  .address-list {
    flex-direction: column;
    gap: 0px;
  }
  .address-links {
    padding: 0;
  }
  .contact {
    font-size: 12px;
  }
  .hero-image {
    padding: 112px 0;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/office2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section-two {
    padding: 96px 0;
  }
  .section-two-list {
    flex-wrap: wrap;
    row-gap: 72px;
  }
  .goals-list {
    width: calc((100% - 24px) / 2);
  }
  .container-svg {
    display: none;
  }
  .goals-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
  }
  .descrip {
    font-weight: 500;
  }
  .section-third {
    display: none;
  }
  .team-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .company-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .company-element {
    width: calc(100% / 4);
  }
  .footer-div {
    flex-wrap: wrap;
    row-gap: 72px;
    justify-content: flex-start;
    padding-left: 86px;
  }
  .logo-container {
    margin-right: 24px;
  }
  .social-container {
    margin-right: 0px;
  }
}
.image-position {
  width: calc((100% - 24px) / 2);
}
.shadow-list {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.sub-input {
  opacity: 0.3;
}
.js-close-men {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 396px;
  }
  .header-container {
    justify-content: space-between;
  }
  .header-list {
    display: none;
  }
  .address {
    display: none;
  }
  .menu-toggle {
    display: block;
    margin: 24px 0;
    background: transparent;
  }
  .hero-image {
    padding: 112px 0;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/office3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .title-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
  }
  .container-svg {
    display: none;
  }
  .goals-list {
    width: 100%;
    text-align: center;
  }
  .section-fourth {
    padding: 96px 0;
  }
  .team-list {
    gap: 72px;
  }
  .section-five {
    padding: 72px 0;
  }
  .company-list {
    column-gap: 16px;
    row-gap: 72px;
  }
  .company-element {
    width: calc((100% - 16px) / 2);
  }
  .logo-container {
    margin: 0;
    text-align: center;
  }
  .footer-div {
    justify-content: center;
    padding-left: 15px;
  }

  .p-head {
    text-align: center;
  }
  .form-subscribe {
    flex-direction: column;
  }
  .filter-list {
    flex-wrap: wrap;
  }
  .image-position {
    width: 100%;
  }
  .toggle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--WHITE);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 80px 40px 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .is-open {
    transform: translateX(0);
  }
  .menu-nav {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  .menu-font {
    color: var(--NAVY-BLUE, #2e2f42);

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .current-color {
    color: var(--OCEAN);
  }
  .menu-number {
    color: var(--IRIS, #4d5ae5);
  }
  .menu-email {
    color: var(--SLATE, #434455);
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
  }
  .menu-adress {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }
  .mobile-social-list {
    display: flex;
    max-width: 328px;
    justify-content: space-between;
    align-items: center;
  }
  .colorfill-button-menu {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-button:hover .colorfill-button-menu,
  .close-button:focus .colorfill-button-menu {
    fill: var(--WHITE);
  }
}
